.header-searchForm {
  display: flex;
  justify-content: flex-start;
}

.top-bar__menu,
.header-searchForm {
  width: $basic-width;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.selected {
  cursor: pointer;
  color: $blue;
  text-decoration: underline;
}
