.search {
  &-banner {
    @include vertical-align;
    justify-content: center;
  }

  &-bar {
    @include vertical-align;
    height: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  &-form {
    width: 484px;
    height: 37px;
    border: 2px solid {
      color: $blue;
    }
    position: relative;
  }

  &-category-box {
    @include space-between;
    width: 23.5%;
    padding-left: 10px;
    z-index: -1;
    border-right: 1px solid {
      color: #ddd;
    }

    p {
      font-size: 13px;
    }

    &__btn {
      color: #bfbfbf;
    }
  }

  &-box {
    display: flex;
    height: 100%;
    align-items: center;
    &__input-text {
      width: 286px;
      border: none;
      margin-left: 10px;
    }

    &__voice {
      color: #787879;
    }

    &__btn {
      color: $blue;
      padding-right: 10px;
    }
    :focus {
      outline: none;
    }
  }
}
