.category-btn {
  @include center;
  flex-direction: column;
  width: 110px;
  height: 115px;
  background-color: $blue;
  margin-right: 30px;
  position: relative;
  i {
    font-size: 2.2em;
  }
  span {
    color: #fff;
    font-size: $basic-font-size;
    padding-top: 10px;
  }
  &:hover {
    cursor: pointer;
  }
}

.category-menu {
  position: absolute;
  top: 115px;
  left: 0px;
  height: 620px;
  z-index: 2;
  li {
    font-size: $basic-font-size;
    padding: 11px;
  }
}

.one-depth,
.two-depth,
.third-depth {
  position: absolute;
  height: 620px;
  background-color: #fff;
  border: 1px solid;
  border-color: $gray;
  margin: 0;
}

.one-depth {
  left: 0px;
  width: 150px;
}

.two-depth {
  left: 151px;
  width: 571px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.third-depth {
  left: 302px;
  width: 420px;
  background-color: transparent;
}

.selected-category {
  color: #4285f4;
  i {
    font-size: 1em;
  }
}
