.search-popup {
  @include box;
  height: 300px;
  margin-top: 6px;
  &__contents {
    color: #000;
    padding: 0px 20px;
  }
  li {
    padding: 5px 0px;
    font-size: $basic-font-size;
  }
}

.auto-search {
  height: 333px;
  &__list li {
    margin: 0 auto;
  }
}

.recent-search {
  &__title {
    padding-bottom: 10px;
    border-bottom: 1px solid;
    border-color: #bfbfbf;
    margin: 13px 0px 10px 0px;
    font: {
      weight: 600;
      size: $basic-font-size;
    }
  }

  &-off {
    height: 75px;
    @include center;
    span {
      font-size: $basic-font-size;
    }
  }

  &__list {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    li {
      display: flex;
      justify-content: space-between;
    }
  }

  button i {
    color: $gray;
  }
}

.history__btns {
  @include box;
  @include space-between;
  height: 32px;
  background-color: #f5f5f5;
  padding: 0px 20px;
  border-top: none;
  button {
    font-size: 0.75em;
    color: #888;
  }
}
