@mixin box {
  border: 1px solid;
  border-color: $gray;
  background-color: #fff;
}

@mixin space-between {
  display: flex;
  justify-content: space-between;
}

@mixin vertical-align {
  display: flex;
  align-items: center;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
