.category {
  &-bar {
    width: 25%;
    height: 100%;
  }

  &-box {
    @include space-between;
    height: 100%;
    padding-left: 10px;
    border-right: 1px solid {
      color: #ddd;
    }
    p {
      font-size: 13px;
    }
    button {
      color: #bfbfbf;
    }
    &:hover {
      cursor: pointer;
    }
  }

  &-option-box {
    @include box;
    font-size: 0.8em;
    max-height: 645px;
    overflow-y: scroll;
    &__contents {
      padding: 0px 13px;
      &__list li {
        padding: 6px 0px;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
}
