.category {
  &-box {
    @include space-between;
    width: 23.5%;
    padding-left: 10px;
    z-index: -1;
    border-right: 1px solid {
      color: #ddd;
    }

    p {
      font-size: 13px;
    }

    &__btn {
      color: #bfbfbf;
    }
  }

  &-option-box {
    @include box;
    position: absolute;
    left: -2px;
    width: 23.5%;
    font-size: 0.8em;
    max-height: 645px;
    overflow-y: scroll;
    padding-left: 10px;

    &__contents {
      padding: 0px 3px;
      &__list li {
        padding: 6px 0px;
      }
    }
  }
}
